@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
  0% {
      width: 0;
  }
  50% {
      width: 100%;
  }
  60% {
      width: 100%; /* Pauses a bit at the end */
  }
  100% {
      width: 0;
  }
}

@keyframes blink-caret {
  from, to {
      border-color: transparent;
  }
  50% {
      border-color: #333;
  }
}

.text-animation {
  display: inline-block;
  overflow: hidden;
  border-right: 3px solid #333;
  white-space: nowrap;
  animation: 
      typing 5s steps(30, end) infinite, 
      blink-caret 0.5s step-end infinite;
}

body {
    font: inherit;
    font-family: Arial, Helvetica, sans-serif;
}
.button {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.1em;
    font-size: 16px;
    text-align: center;
    font-family: 'Arial';
    font-weight: 700;
    font-style: normal;
}

header {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.15em;
    font-size: 16px;
    text-align: center;
    font-family: 'Oxygen';
    font-weight: 700;
    font-style: normal;
    transition-duration: 0.5s;
    transition-property: color;    
}


h1, h2, h3, p, span, li {
    font-family: 'Poppins', sans-serif;
  }